/* ------------
    RESET
------------ */

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li a, button a{
    color: inherit;
    text-decoration: none;
    text-decoration-style: none;
}


/* body{
    height: 1000vh;
} */

/* ------------
    COMMON
------------ */
.nav li, .nav{
    margin: 0 20px;
    align-self: center;
}

.nav ul{
    display: flex;
    list-style-type: none;
}

.startend-container{
    width: 62vw;
    margin: auto;
    /* background-color: black; */
}

.content-container{
    width: 54vw;
    margin: auto;
    /* background-color: red; */
}

.box-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.box-content{
    padding: 30px 20px;
}

.border{
    border: solid 1px lightgray;
}

.flex-container{
    display: flex;
}

.spacer{
    height: 150px;
}

.strong{
    font-weight: 700;
}

.light{
    color: gray;
}

.img{
    width: 100%;
}

/* ------------
    WIDTH COMMON
------------ */

.width40{
    width: 40%;
}

.width60{
    width: 60%;
}

.width100{
    width: 100%
}

.width70{
    width: 70%;
}

.width30{
    width: 30%;
}

/* ------------
    BUTTON
------------ */

.button{
    padding: 12px;
}

.blue-button{
    color: white;
    background-color: #0061ff;
    border: none;
}

.button-width{
    width: 100%;
}

.white-button{
    background-color: white;
    border: 1px black solid;
}

/* ------------
    HEADER
------------ */

.header-top{
    background-color: white;
    display: flex;
    padding: 20px;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

/* <---- Logo + Nav ------> */

.logo-container{
    display: flex;
    width: 50%;
}

/* <---- Login + Nav ------> */

.login-container{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.login-container .button{
    /* font-size: 18px; */
    padding: 8 0px;
    padding: 0 12px;
}


/* <---- Hero Title and Box ----> */

.hero{
    padding-top: 150px;
    background-color: #b4d0e7;
}

.hero-box{
    position: relative;
    display: flex;
    padding-top: 50px;
}

h1{
    font-size: 50px;
}

.hero-1{
    font-weight: 300;
    font-size: 18px;
    /* background-color: yellow; */
}

.hero-1 button{
    margin: 30px 0;
}

/* <-- position img  --> */

.hero-2{
    position: relative;
}

.hero img{
    width: 100%;
    position: absolute;
}

.simbol{
    padding-top: 30px;
    font-size: 40px;
}

/* ------------
    MAIN
------------ */

h2{
    font-size: 40px;
}

h3{
    font-size: 20px;
}

.checkbox{
    display: flex;
    padding: 50px 0;
}

.checkbox-2{
    padding-left: 40px;
}

input[type=radio]{
    margin-right: 8px;
    transform: scale(1.5);
}

/* ------------
    SECTION 1
------------ */

/* ------------
    BOX
------------ */

.box-header{
    padding: 12px 0;
    /* font-size: 18px; */
    text-align: center;
    border-bottom: solid 1px lightgrey;
}

.list-box{
    padding: 4px 0;
}

.list-box li{
    display: flex;
    padding: 10px 0;
}

.list-box i{
    padding-right: 10px ;
}

.list-box ul, {
    list-style-type: none;
}

.half-border{
    padding: 50px 0;
    border-bottom: solid 1px lightgrey;
    border-image: linear-gradient(to right, lightgrey 20%, transparent 20%) 100% 1;
}

.checkmark-blue i{
    color: blue;
}

.width70 .list-box{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .width40{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

section .width40 p{
    padding: 20px 0;
}

section .width40 h3{
    padding-top: 30px;
    font-size: 30px;
}

.width40 .button{
    margin-top: 30px;
    font-size: 18px;
    width: 50%;
}